body{
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    background: #333;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track {
    background: #333;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #0069D9;
    border-radius: 10px;
}

.spinner-border, #results{
    display: none;
}

body > .container{
    margin-bottom: 5rem;
}

@media only screen and (max-width: 768px),
                        (max-device-width: 768px) {
    .display-sm-none{
        display: none;
    }
    .card-title{
        font-size: 18px;
        font-weight: bold;
    }
    .card-body{
        padding: 0 20px;
    }
}